﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js" defer></script>
    <script type="text/javascript" src="~/Scripts/ko-mapping.js" defer></script>
    <script type="text/javascript" src="~/Scripts/ViewModel/providers.js" defer></script>
    <title></title>
</head>
<body>
    <div>
        <select id="providers_select" data-bind="options: providers,
                           optionsText: 'name',
                           optionsCaption: 'Choose...',
                           value: selectedProvider"></select>
        <hr />
        <div data-bind="visible: selectedProvider">
             Appears when you select something 
            You have chosen 
            <span data-bind="text: selectedProvider() ? selectedProvider().name : 'unknown'"></span>.
        </div>
    </div>
    @*<p>
        Your country:
        <select data-bind="options: availableCountries,
                       optionsText: 'countryName',
                       value: selectedCountry,
                       optionsCaption: 'Choose...'"></select>
    </p>

    <div data-bind="visible: selectedCountry">
         Appears when you select something 
        You have chosen a country with population
        <span data-bind="text: selectedCountry() ? selectedCountry().countryPopulation : 'unknown'"></span>.
    </div>*@
</body>


</html>
